name: CI-MLflow-Training-Docker-Advance

on:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 dagshub scikit-learn pandas matplotlib seaborn joblib

      - name: Run MLflow Training 
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/vincenzrey/Eksperimen_SMSML_Vincenz-Reynard-Citro.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
        run: |
          mlflow run MLProject --env-manager=local

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image with MLflow
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/vincenzrey/Eksperimen_SMSML_Vincenz-Reynard-Citro.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
        run: |
          mlflow models build-docker \
            -m "models:/ObesityModel/latest" \
            -n "${{ secrets.DOCKERHUB_USERNAME }}/obesity-classification-mlflow"

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/obesity-classification-mlflow
